<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	<a class="navbar-brand" href="{{path('home_index')}}">Student Management</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{path('classroom_index')}}">Classroom</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{{path('course_index')}}">Course</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{{path('teacher_index')}}">Teacher</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{{path('student_index')}}">Student</a>
			</li>
		</ul>

		<nav class="form-inline my-2 my-lg-0">
			<p class="form-control mr-sm-2 mb-0">Welcome:
				{{ app.user.username }}!</p>
			<a class="btn btn-outline-success my-2 my-sm-0" href="{{path('app_logout')}}">Logout</a>
		</nav>
	</div>
</nav>

